#bg-contacto {
    position: relative;
    top: -50px;
}

#seccion-contacto {
    background-color: #283d6f;
    min-height: 250px;
    position: relative;
}

#contenedor-formulario {
    position: absolute;
    top:30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fbfafa;
    border-radius: 5px;
    max-width: 500px;
}

#titulo-formulario {
    color: #3f3f3f;    
}